aiohappyeyeballs 
aiohttp 
aiosignal 
annotated-types 
anyio 
appnope 
asttokens 
async-timeout 
attrs 
backcall==0.2.0
beautifulsoup4==4.12.3
bitsandbytes==0.42.0
bleach==6.2.0
blinker==1.9.0
Brotli 
build==1.2.2.post1
certifi 
cffi 
charset-normalizer 
click==8.1.8
comm 
contourpy==1.3.1
cycler==0.12.1
dataclasses-json==0.6.7
debugpy 
decorator 
defusedxml==0.7.1
docopt==0.6.2
exceptiongroup 
executing 
faiss-cpu==1.10.0
fastjsonschema==2.21.1
filelock 
Flask==3.1.0
fonttools==4.55.5
frozenlist 
fsspec==2025.2.0
fuzzywuzzy==0.18.0
gmpy2 
greenlet 
h11 
h2 
hpack 
httpcore 
httpx 
httpx-sse==0.4.0
huggingface-hub==0.29.2
hyperframe 
idna 
ipykernel 
ipython==8.12.3
itsdangerous==2.2.0
jedi 
Jinja2 
joblib==1.4.2
jsonpatch 
jsonpointer 
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client 
jupyter_core 
jupyterlab_pygments==0.3.0
kiwisolver==1.4.8
langchain 
langchain-community==0.3.19
langchain-core 
langchain-huggingface==0.1.2
langchain-text-splitters 
langsmith 
Levenshtein==0.26.1
MarkupSafe 
marshmallow==3.26.1
matplotlib==3.10.0
matplotlib-inline 
mistune==3.1.0
mpmath 
multidict 
mypy-extensions==1.0.0
nbclient==0.10.2
nbconvert==7.16.5
nbformat==5.10.4
nest-asyncio 
networkx 
numpy==1.26.4
orjson 
packaging 
pandas==2.2.3
pandocfilters==1.5.1
parso 
pexpect 
pickleshare==0.7.5
pillow 
pip-tools==7.4.1
pipreqs==0.5.0
platformdirs 
prompt-toolkit 
propcache 
psutil 
ptyprocess 
pure-eval 
pycparser 
pydantic 
pydantic-settings==2.8.1
pydantic_core 
Pygments 
pyparsing==3.2.1
pyproject_hooks==1.2.0
PySocks 
python-dateutil 
python-dotenv==1.0.1
python-Levenshtein==0.26.1
pytz==2024.2
PyYAML 
pyzmq 
RapidFuzz==3.12.1
referencing==0.36.2
regex==2024.11.6
requests 
requests-toolbelt 
rpds-py==0.22.3
safetensors==0.5.3
scikit-learn 
scikit-surprise==1.1.4
scipy==1.13.1
seaborn==0.13.2
sentence-transformers==3.4.1
six 
sniffio 
soupsieve==2.6
SQLAlchemy 
stack-data 
sympy==1.13.1
tenacity 
threadpoolctl 
tinycss2==1.4.0
tmdbv3api==1.9.0
tokenizers==0.21.0
torch==2.6.0
torchaudio==2.6.0
torchvision==0.20.1
tornado 
tqdm==4.67.1
traitlets 
transformers==4.49.0
typing-inspect==0.9.0
typing_extensions 
tzdata==2025.1
urllib3 
utils==1.0.2
wcwidth 
webencodings==0.5.1
Werkzeug==3.1.3
xgboost 
yarg==0.1.9
yarl 
zstandard==0.23.0
